.preselect-button{
  background-color: #FCF5C7 !important;
  color: black !important;
  border: none !important;
}
.profile-image{
  border-radius: 50%;
}

.bubble
{
position: relative;
width: 275px;
height: 120px;
padding: 0px;
background: #7F7F7F;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 38px 15px 0;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 1;
left: -38px;
top: 45px;
}
