.unrevealed{
  background-color: #FCF5C7 !important;
}

.btn.truth-button, .btn.lie-button {
  color: black !important;
  border: none;
  height: 16%;
  font-size: 25px !important;
  white-space: normal !important;
}

.form-control {
  font-size: 25px !important;
  height: 6% !important;
  white-space: normal !important;
}


.truth-button.revealed{
  background-color: #ADF7B6 !important;
  filter: opacity(50%);
}
.lie-button.revealed{
  background-color: #FF7768 !important;
}
.selected{
  border-color: #007bff !important;
  border-style: solid !important;
}
.profile-image{
  border-radius: 50%;
}

.instructions
{
	width: 200px;
	height: 50px;
}

input, label{
 display: inline-block;
 vertical-align: middle;
 margin: 10px 0;
 font-size: 20;
 padding-right: 10px;
}
